In [26]:
import selenium
import pandas as pd
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.common.keys import Keys

import warnings
warnings.filterwarnings('ignore')

In [27]:
# Connecting to the webdriver
driver = webdriver.Chrome(r"C:\Users\Admin\Downloads\chromedriver_win32\chromedriver.exe")

In [28]:
#opening website from where we need to fetch data
driver.get("https://paytm.com/")

In [29]:
for i in driver.find_elements_by_xpath('/html/body/div[1]/div/section[4]/div/div/div/div[2]'):
    i.click()

In [30]:
driver.get("https://paytm.com/flights/flightSearch/BLR-Bengaluru/PNQ-Pune/1/0/0/E/2022-03-28")

In [31]:
urls=[]
sou=["BLR-Bengaluru","CCU-Kolkata"]# passing source location
location = ["DEL-Delhi","PNQ-Pune","MAA-Chennai","HYD-Hyderabad"] #passing destination 
# passing random date on which flight is schedule
date_list=["2022-03-28","2022-04-05","2022-03-30","2022-04-04","2022-04-12","2022-03-06","2022-04-21","2022-04-15","2022-03-09","2022-04-07"]
for i in range(0,2):
    for j in range(0,4):
            for k in range(0,10):
                url="https://paytm.com/flights/flightSearch/"+sou[i]+"/"+location[j]+"/1/0/0/E/"+date_list[k] #as url is a string we can manipulate it and make changes according to our needs
                urls.append(url)

In [32]:
len(urls)#checking len of url how many url we have fetched

80

In [33]:
# making list of features i am going to fetch 
name=[]
departure_time=[]
arrival_time=[]
dur=[]
price=[]
stop=[]
place=[]
date=[]
for url in urls:
    driver.get(url)
    time.sleep(5)
    
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S _1Eia"]'):
        name.append(k.text)
            
    for k in driver.find_elements_by_xpath('//div[@class="_3H-S"]'):
        departure_time.append(k.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_3H-S _1wD5"]'):
        arrival_time.append(i.text.split("\n")[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="vY4t"]'):
        dur.append(i.text)
        
    for i in driver.find_elements_by_xpath('//div[@class="_1cxG"]'):
        price.append(int(i.text.replace(",","")))
        
    for i in driver.find_elements_by_xpath('//div[@class="_7BOG"]'):
        stop.append(i.text.split()[0])
        
    for i in driver.find_elements_by_xpath('//div[@class="NqXj"]'):
        place.append(i.text)
        
    for i in range(0,len(driver.find_elements_by_xpath('//div[@class="_1cxG"]'))):
               date.append(url.split('/')[11])

In [34]:
source=place[0::2]
destination=place[1::2]

In [35]:
print(len(arrival_time),len(dur),len(price),len(name),len(departure_time),len(source),len(destination),len(date))

9307 9307 9307 9307 9307 9307 9307 9307

In [36]:
# this is the dataframe i have fetched
flight=pd.DataFrame({"Flight name":name,
                 "Departure_time":departure_time,
                 "Arrival_time":arrival_time,
                 "Price":price,
                 "Source":source,
                 "Destination":destination,
                  "Duration":dur,
                 "No of stop":stop,
                 "Date":date})

In [37]:
flight

,Flight name,Departure_time,Arrival_time,Price,Source,Destination,Duration,No of stop,Date
0,IndiGo,20:05,00:50,2191,Bengaluru,Delhi,4h 45m,1,2022-03-28
1,IndiGo,23:05,04:15,2356,Bengaluru,Delhi,5h 10m,1,2022-03-28
2,IndiGo,17:10,22:45,2356,Bengaluru,Delhi,5h 35m,1,2022-03-28
3,IndiGo,20:15,02:10,2356,Bengaluru,Delhi,5h 55m,1,2022-03-28
4,IndiGo,11:20,18:30,2356,Bengaluru,Delhi,7h 10m,1,2022-03-28
...,...,...,...,...,...,...,...,...,...
9302,Vistara,10:25,22:55,7451,Kolkata,Hyderabad,12h 30m,2,2022-04-07
9303,Vistara,10:25,22:55,7851,Kolkata,Hyderabad,12h 30m,2,2022-04-07
9304,Air India,10:25,17:35,8614,Kolkata,Hyderabad,31h 10m,3,2022-04-07
9305,Air India,06:55,17:35,8614,Kolkata,Hyderabad,34h 40m,3,2022-04-07
9306,SpiceJet,14:15,20:40,9530,Kolkata,Hyderabad,6h 25m,1,2022-04-07

In [38]:
flight.to_csv("flight_fare.csv")#saving dataframe to csv format